<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".sql" #>
<#@ JCJAPGDRCDERAWebBD processor="JCJAPGDRCDERAWebBDDirectiveProcessor" requires="fileName='Sample.JCJAPGDRC_DSLDERAWebBD'" #>

<#@ assembly name ="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>

CREATE DATABASE <#= this.DERAWebBDModel.Name#>;
USE <#= this.DERAWebBDModel.Name#>;

<#
foreach (Entidad entidad in this.DERAWebBDModel.Entidades)
{
	AtributoEnt clave = null;
	WriteLine("CREATE TABLE IF NOT EXISTS " + entidad.Name);
	WriteLine("( ");
	
	foreach (AtributoEnt atributo in entidad.AtributoEnt)
	{
		string final = esNulo(atributo) ?? "";
		final += ",";
		WriteLine(atributo.Name + " " + comprobarTipoDato(atributo) + final);
		if (atributo.Restriccion != null)
		{
			if (atributo.Restriccion is RestriccionRango) 
			{
				RestriccionRango rest = (RestriccionRango)atributo.Restriccion;
				WriteLine("CONSTRAINT CHK_" + atributo.Name + " CHECK (" + atributo.Name + " >=" + rest.Minimo + " AND " + atributo.Name + " <=" + rest.Maximo + "),");
			}
			else
			{
				RestriccionEnum rest = (RestriccionEnum)atributo.Restriccion;
				var lista = rest.Valores ?? "";
				var valores = lista
					.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
					.Select(v => v.Trim())
					.Where(v => v.Length > 0)
					.ToList();

				String listaSQL = "('" + string.Join("', '", valores) + "')";
				WriteLine("CONSTRAINT CHK_" + atributo.Name + " CHECK (" + atributo.Name + " IN " + listaSQL + "),");
			}
		}
		if (atributo.keyAtr)
		{
			clave = atributo;
		}
	}
	if (clave == null)
	{
		WriteLine(");");
	}
	else
	{
		WriteLine("PRIMARY KEY (" + clave.Name + "));");
	}
	WriteLine("");
	WriteLine("");
}

foreach (Relacion relacion in this.DERAWebBDModel.Relaciones)
{
	var enlaces = RelacionReferencesEntidad.GetLinksToEntidad(relacion);
    var extremosN = enlaces
        .Where(l => !string.IsNullOrEmpty(l.cardinalidad) &&
                    l.cardinalidad.Split(new string[] { ".." }, StringSplitOptions.None)[1]
                        .Equals("N", StringComparison.OrdinalIgnoreCase))
        .ToList();

    if (extremosN.Count > 1)
    {
		List<string> colum = new List<string>();
		List<string> foran = new List<string>();
		foreach (var link in extremosN)
		{
			Entidad ent = link.Entidad;
			foreach (AtributoEnt at in ent.AtributoEnt)
			{
				if(at.keyAtr)
				{
					string final = esNulo(at) ?? "";
					final += ",";
					colum.Add($"{at.Name} {comprobarTipoDato(at)} {esNulo(at) ?? ""}".Trim());
					foran.Add($"FOREIGN KEY ({at.Name}) REFERENCES {ent.Name} ({at.Name})");
				}
			}
		}
        WriteLine("CREATE TABLE IF NOT EXISTS " + relacion.Name);
        WriteLine("(");
		if (relacion.AtributoRel.Count > 0)
		{
			foreach (AtributoRel at in relacion.AtributoRel)
			{
				string final = esNuloRel(at) ?? "";
				final += ",";
				WriteLine(at.Name + " " + comprobarTipoDatoRel(at) + final);
			}
		}
        WriteLine(string.Join(",\n", colum) + ",");
		WriteLine(string.Join(",\n", foran));
		WriteLine(");");
    }
}
#>

<#+
private string comprobarTipoDato (AtributoEnt atributo)
{
	String tipo = atributo.TipoDato.ToString();
	if (tipo == "Alfanumerico") return "CHAR(" + atributo.Longitud + ")";
	if (tipo == "Real") return "DOUBLE";
	if (tipo == "Entero") return "INTEGER";
	if (tipo == "Fecha") return "DATE";
	return "";
}
#>

<#+
private string comprobarTipoDatoRel (AtributoRel atributo)
{
	String tipo = atributo.TipoDato.ToString();
	if (tipo == "Alfanumerico") return "CHAR(" + atributo.Longitud + ")";
	if (tipo == "Real") return "DOUBLE";
	if (tipo == "Entero") return "INTEGER";
	if (tipo == "Fecha") return "DATE";
	return "";
}
#>

<#+
private string esNulo(AtributoEnt atributo)
{
	if (atributo.Nulo == false)
	{
		return " NOT NULL";
	}
	else
	{
		return "";
	}
}
#>

<#+
private string esNuloRel(AtributoRel atributo)
{
	if (atributo.Nulo == false)
	{
		return " NOT NULL";
	}
	else
	{
		return "";
	}
}
#>